.RandomOne{
  text-align: center;
}

.RandomTwo{
  text-align: center;
}

.Header {
  font-size: 60px;
  text-align: center;
  font-family: "Times New Roman";
  font-weight: 10;
}

.answerOne{
  text-align: center;
}

.answerTwo{
  text-align: center;
}